# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/
.venv/
mod/
mod
C:\Users\Impana J\library_api\mod
# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Database
*.sqlite3

# Environment files
.env
mod/
